@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;600;700;800;900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@600;700;800;900&family=Sarabun:ital,wght@0,600;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* scroll-snap-type: y mandatory; */
}

section {
  /* padding-top: 4rem; */
}

.banner {
  padding-top: 4rem;
}

.container-fluid img {
  width: 60px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f5f5f5;
  font-family: "Noto Sans Thai", sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.nav-header {
  z-index: 2;
  width: 100%;
}

.nav-header .navbar {
  padding: 6px 32px;
}

/* .nav-header img {

} */

.nav-header .navbar-collapse {
  flex-grow: inherit;
}

.nav-header .navbar-nav {
  column-gap: 42px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
}

.title-sec {
  text-align: center;
  margin-bottom: 60px;
}

.title-sec p {
  font-weight: 700;
  font-size: 22px;
  color: #945834;
  margin: 0;
  margin-bottom: 6px;
}

.border-line-title {
  max-width: 317px;
  height: 7px;
  background: radial-gradient(50% 50% at 50% 50%,
      #945834 0%,
      rgba(148, 88, 52, 0) 100%);
  border-radius: 5px;
  margin: auto;
  flex-shrink: 0;
}

.course {
  padding: 3rem 0;
}

.course .card-body {
  text-align: center;
}

.course .card-body .title {
  font-size: 18px;
  font-weight: bold;
}

.course .card-body .price {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  margin-top: 6px;
}

.course .card-body .fa-money-bill {
  color: #71bd1f;
}

.course .card-body .fa-clock {
  color: #99762c;
}

.course .card-body i {
  margin: 0 6px 0px 6px;
}

.course .card {
  box-shadow: 0px 4px 4px rgb(111 51 27 / 25%);
  border-radius: 5px;
  cursor: pointer;
}

.btn-all {
  background: #ffffff;
  border: 1px solid #ca965c;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  color: #99762c;
  padding: 5px 10px;
  text-decoration: none;
}

.corse-recommanded {
  border-top: 6px solid #945834;
  padding: 2rem 2rem;
}

.corse-recommanded .title {
  font-size: 24px;
  font-weight: bold;
  color: #71bd1f;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  margin-bottom: 26px;
}

.corse-recommanded .fa-star {
  color: #ffd41a;
}

.corse-recommanded .list span {
  color: #99762c;
  font-size: 18px;
}

.corse-recommanded .list {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.corse-recommanded .list .fa-asterisk {
  color: #f24e1e;
  margin-right: 12px;
}

.corse-recommanded .price {
  text-align: center;
}

.corse-recommanded .price span {
  color: #99762c;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  display: inherit;
}

.corse-recommanded .btn-all {
  color: #99762c !important;
  border: 1px solid #e8ba87;
}

.video-link {
  background-color: #fff;
  padding: 3rem;
}

.video-link .wrap-page .profile {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-course .course {
  border: none;
  padding: 0;
}

.video-link .wrap-page .profile .profile-img {
  width: 65px;
  height: 65px;
  background-color: #fff;
  margin-right: 10px;
}

.video-link .wrap-page .profile .profile-detail .name {
  font-weight: 500;
  font-size: 16px;
  color: #fafafa;
}

.video-link .wrap-page .profile .profile-detail .like {
  font-weight: 400;
  font-size: 13px;
  color: #fafafa;
}

.video-link .wrap-page .btn-gotopage {
  position: absolute;
  right: 10px;
  bottom: 14px;
  background: #fafafa;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.video-link .card {
  height: 100%;
}

.video-link .card img {
  height: 100%;
}

.video-link .wrap-page {
  height: 100%;
}

.video-link .bi-facebook {
  color: #1977f3;
  margin-right: 6px;
  font-size: 18px;
}

.menu .navigation img {
  height: auto;
}

.menu img {
  height: 100vh;
}

.menu .splide__arrows {
  position: absolute;
  top: 13%;
  right: 6%;
  transform: translate(-50%, -50%) !important;
  z-index: 2 !important;
}

.menu .splide__arrow--prev {
  left: -4em;
  background-color: #fff0;
}

.menu .splide__arrow--next {
  right: -1em;
  background-color: #fff0;
}

.menu .splide__arrow--prev svg {
  fill: #dddddd !important;
}

.menu .splide__arrow--next svg {
  fill: #dddddd !important;
}

.comment {
  width: 100%;
  /* padding: 0 20px; */
  /* margin: 3rem 0rem; */
}

.comment .card {
  /* margin: 0px 34px; */
  border: none;
}

.comment .card-course .card-body {
  padding: 16px 0px 0px 0px;
}

.comment .img {
  position: relative;
}

.comment .img .some-thing {
  position: absolute;
  bottom: -35px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #945834;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  cursor: pointer;
}

.comment .img img {
  border-radius: 5px;
}

.comment .star {
  color: #ffd41a;
  font-size: 20px;
  margin-bottom: 10px;
}

.comment .detail {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.comment .img {
  position: relative;
}

.comment .boxcs {
  font-family: "Times New Roman", serif;
  position: absolute;
  bottom: -35px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: #945834;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  cursor: pointer;
}

.comment .splide__arrow--prev {
  left: -1em;
  background-color: #fff;
}

.comment .splide__arrow--next {
  right: -1em;
  background-color: #fff;
}

.comment .splide__arrow svg {
  fill: #683726;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.navbar-main {
  color: #fff !important;
  background-color: #2850c8 !important;

  .navbar-nav {
    margin: auto !important;
  }
}

.index-main {
  .body-content {
    padding: 30px 80px;

    .ul li {
      color: #244bc6;
      margin-bottom: 12px;
      font-size: 18px;
    }
  }
}

.nav-page {
  border-bottom: 1px solid #f4e0d4;
  margin-bottom: 2rem !important;
  margin-top: 2rem;
}

.nav-page .nav-link {
  color: #945834;
}

.nav-page .nav-item .active {
  border-bottom: 4px solid #945834;
}

.course-detail {
  margin: 2rem 0 3rem 0;
}

.course-detail .item {
  display: flex;
  margin-bottom: 30px;
}

.course-detail .item .title {
  color: #673826;
  font-size: 16px;
  display: inline;
  font-weight: bold;
  margin-right: 12px;
}

.course-detail .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.course-detail .price {
  text-align: center;
  color: #fff;
  background-color: #71bd1f;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 0;
  border-radius: 20px;
}

.regiscourse .wrap {
  max-width: 550px;
  margin: auto;
}

.regiscourse .row {
  align-items: center;
}

.regiscourse img {
  width: 100%;
  padding: 26px;
}

.regiscourse .item {
  border: 1px solid #905537;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 16px;
}

.regiscourse .item i {
  font-size: 36px;
  border-radius: 50%;
  color: #905537;
  display: flex;
  margin-right: 8px;
}

.regiscourse .call {
  border: 1px solid #905537;
}

.regiscourse .call .fa-phone {
  font-size: 21px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  margin-right: 8px;
  padding: 8px;
  background-color: #905537;
}

.regiscourse .line {
  border: 1px solid #00e000;
}

.regiscourse .line-img {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  padding: 0 !important;
}

.regiscourse .facebook {
  border: 1px solid #1977f3;
}

.regiscourse .item .bi-facebook {
  color: #1977f3;
}

.regiscourse .wrap {
  text-align: center;
}

.regiscourse .title {
  font-weight: 700;
  font-size: 22px;
  color: #945834;
  margin: 0;
  margin-bottom: 6px;
}

.regiscourse a {
  text-decoration: none;
}

.product .card-title {
  color: #99762c;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.product .card-body .card-text {
  margin-top: 20px;
  text-align: center;
  height: 90px;
}

.product .card-body i {
  margin-right: 6px;
  color: #71bd1f;
}

.mt-3 {
  text-align: center;
}

.product .card-title {
  color: #99762c;
  font-size: 18px;
  font-weight: bold;
}

.product .card-footer .wrap {
  display: flex;
  justify-content: space-between;
}

.product .card-footer .price {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.product .card-footer .rate {
  display: flex;
  flex-direction: column;
}

.product .card-footer p {
  margin-bottom: 4px;
}

.product .card-footer .ship {
  font-weight: bold;
}

.product .card-footer .price-product {
  color: #950606;
  font-size: 28px;
}

.timeline {
  color: #945834;
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
}

.head1 {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  color: #945834;
}

.head2 {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #945834;
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #945834;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #945834;
  height: 63px;
  display: block;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-custom1 .timeline-marker:after {
  height: 230px;
}

.timeline-custom1 .timeline-item:nth-child(2) .timeline-content {
  height: 230px;
}

.timeline-custom1 .timeline-item:nth-child(3) .timeline-content {
  height: 150px;
}

.timeline-custom2 .timeline-marker:after {
  height: 340px;
}

.timeline-custom2 .timeline-item:nth-child(1) .timeline-content {
  height: 230px;
}

.timeline-custom2 .timeline-item:nth-child(3) .timeline-marker:after {
  height: 0;
}

.timeline-custom2 .timeline-item:nth-child(2) .timeline-marker:after {
  height: 0;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  width: 100%;
  height: 60px;
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #945834;
}

.timeline-content p {
  margin-bottom: 6px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

.lacturer .row {
  margin-bottom: 5rem;
}

.Aab {
  position: absolute;
  margin-top: 185px;
  margin-right: 105px;
  padding-left: 80px;
  border-radius: 10px;
  padding-top: 10px;
  border-color: #945834;
}

.Aab:hover,
.Aac:hover {
  background-color: #945834;
  border: none;
}

.w3-bar-item {
  border: 1px solid rgba(148, 88, 52, 1);
  width: 40%;
  height: 15%;
  background-color: white;
  border-radius: 10px 10px;
}

.w3-bar-item:hover {
  background-color: rgba(148, 88, 52, 1);
}

.w3-bar {
  width: 200px;
  height: 100px;
  display: flex;
  position: absolute;
  justify-content: space-around;
  margin-top: 300px;
}

.Aac {
  position: absolute;
  margin-top: 185px;
  margin-left: 105px;
  padding-right: 80px;
  border-radius: 10px;
  padding-top: 10px;
  border-color: #945834;
}

.about-us .spa {
  margin: 2rem 0 3rem 0;
  color: #673826;
}

.about-us .lacturer .name {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 16px;
}

.about-us .lacturer .name .custom {
  color: #e57720;
}

.about-us .lacturer .name {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.spadetail {
  background-color: #fff9ea;
  text-align: center;
  padding: 28px 18px;
  margin-bottom: 3rem;
}

.spadetail .title {
  color: #673826;
  font-weight: bold;
  margin-bottom: 0;
}

.spadetail .title {
  color: #673826;
  font-weight: bold;
  margin-bottom: 0;
}

.spadetail span {
  color: #945834;
  margin-bottom: 16px;
  display: inherit;
}

.spadetail .list {
  width: 66%;
  margin: auto;
  color: #945834;
  text-align: left;
}

.contact-us {
  margin: 3rem 0;
}

.contact-us .address {
  text-align: center;
  color: #945834;
}

.contact-us .contact {
  width: 40%;
  margin: 26px auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us .title {
  color: #945834;
  font-size: 18px;
  font-weight: bold;
  /* border-bottom: 1px solid #945834; */
  display: inline-block;
}

.contact-us .contact .wrap {
  width: 100%;
  /* border-bottom: 1px solid #D3CAC1; */
}

.contact-us .contact .d-flex {
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 80%;
}

.contact-us .contact .d-flex .group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  color: #945834;
}

.course .card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.product .row .card:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.gallery .row .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.gallery .row .card-img:hover {
  filter: opacity(0.5) drop-shadow(0 0 rgb(112, 76, 54));
  transform: scale(1.1);

  .search-hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.gallery .row {
  height: 100%;
}

.gallery .row .search-hover {
  width: 20%;
  height: 20%;
  transition: 0.5s ease;
  display: block;
  opacity: 0;
  position: absolute;
}

.video-index div {
  border-radius: 20px;
  width: 85%;
}

.link-click {
  position: fixed;
  z-index: 999999999;
  width: 70px;
  left: 14px;
  top: 170px;
  background-color: rgb(241 232 223 / 51%);
  border-radius: 10px;
}

.link-click .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  padding-bottom: 10px;
}

.link-click .wrap .head {
  background-color: #945834;
  border-radius: 10px 10px 0 0;
}

.link-click .wrap .head p {
  margin-bottom: -7px;
  margin-top: -7px;
  padding: 16px;
  color: #fff;
}

.link-click .wrap a .first {
  margin-top: 8px;
}

.text-online-course {
  color: #ae6031;
}

.course-index span {
  color: #945834;
}

.course {
  background-color: #fff;
  padding: 3rem 0;
  position: relative;
  /* background-image: url(images/Vector-1.png); */
  overflow: hidden;
}

.course .bg-promo {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video-index {
  background-color: #fff;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Responsive */

@media screen and (max-width: 426px) {

  .footer-main .logo img {
    width: 30% !important;
    margin-bottom: 6px;
  }

  .search_advance {
    .card {
      padding: 2rem 2rem !important;
    }
  }

  .footer-main {
    padding: 1rem 2rem !important;
  }

  .banner-toggle {
    & .card {
      a {
        padding: 7px 26px !important;
        margin: 0 6px !important;
        font-size: 11px !important;
      }

      p {
        font-size: 16px !important;
      }
    }
  }

  .show_vdo .vdo_type video {
    width: 96% !important;
  }

  .rules .card {
    margin: 0 1rem 0 1rem;

    .title {
      font-size: 24px;
    }
  }

  .button-sent-contest {
    margin: 16px 16px 18px !important;
  }

  .rules .wrap {
    margin: 0rem 1rem !important;
  }

  .video-link {
    padding: 1rem;
  }

  .comment .boxcs {
    width: 50px;
    height: 50px;
    bottom: -20px;
  }

  .spadetail .list {
    width: 100%;
    margin-top: 14px;
  }

  .timeline-content {
    height: 80px;
  }

  .timeline-marker:after {
    height: 80px;
  }

  .timeline-custom1 .timeline-item:nth-child(2) .timeline-content {
    height: 316px;
  }

  .timeline-custom1 .timeline-marker:after {
    height: 310px;
  }

  .timeline-custom1 .timeline-item:nth-child(3) .timeline-content {
    height: 216px;
  }

  .timeline-custom2 .timeline-item:nth-child(1) .timeline-content {
    height: 366px;
  }

  .timeline-custom2 .timeline-marker:after {
    height: 526px;
  }

  .contact-us .contact {
    width: 100% !important;
  }

  .contact-us .contact .d-flex {
    flex-direction: column;
    row-gap: 10px;
  }

  .product-item .nav {
    flex-direction: column;
  }

  .all-course .nav {
    flex-direction: column;
  }

  .wrap-contact {
    padding: 0 60px;
  }

  .link-click {
    right: 6px;
    top: 100px;
    width: 50px;
  }

  .link-click .wrap .head {
    font-size: 12px;
  }

  .link-click .wrap img {
    width: 25px;
    height: 25px;
  }

  .course-index .link .btn-all {
    font-size: 4px !important;
    position: absolute !important;
    bottom: 0% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 4px !important;
    height: auto !important;
    padding: 2px 10px;
    text-decoration: none;
  }

  .navbar-brand.navbar-brand .logo {
    width: 250px;
    height: auto;
    vertical-align: baseline;
  }

  .link-click .wrap .head p {
    margin-bottom: -10px;
    margin-top: -10px;
    padding: 11px;
    color: #fff;
  }
}

@media screen and (max-width: 1025px) {
  .spadetail .list {
    width: 100%;
  }

  .about-us .lacturer .name {
    margin-top: 8px;
  }

  .lacturer .row:nth-child(2),
  .lacturer .row:nth-child(4) {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }

  .contact-us .contact {
    width: 70%;
  }

  .course-index .link .btn-all {
    position: absolute !important;
    bottom: 0% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 17px;
  }
}

@media screen and (max-width: 769px) {

  .search_advance {
    .card {
      padding: 3rem 4rem;
    }
  }

  .bsa-since {
    margin-bottom: 16px;
    display: inherit;
  }

  .course-index .link .btn-all {
    font-size: 8px;
  }

  .lacturer .row {
    margin-bottom: 0rem;
  }

  .about-us .lacturer .name {
    margin-top: 16px;
  }

  .lacturer .row:nth-child(2) {
    flex-direction: column-reverse;
    margin-bottom: 4px;
  }

  .title-sec {
    margin-bottom: 26px;
  }

  .imgmobile {
    margin-top: 16px;
  }

  .course-index .link {
    width: 100% !important;
  }

  .course-index .img-course {
    /* width: 50%; */
    width: 100% !important;
  }

  .lacturer .row:nth-child(2),
  .lacturer .row:nth-child(4) {
    flex-direction: column-reverse;
    margin-bottom: 14px;
  }

  .course-index .wrap {
    flex-direction: column;
  }

  .course-index .img-course {
    width: 100%;
  }
}

@media screen and (max-width: 321px) {
  .link-click {
    right: 6px;
    top: 65px;
    width: 40px;
  }

  .link-click .wrap .head {
    font-size: 10px;
  }

  .link-click .wrap img {
    width: 25px;
    height: 25px;
  }

  .course-index .link .btn-all {
    font-size: 4px !important;
  }

  .navbar-brand.navbar-brand .logo {
    width: 170px;
    height: auto;
    vertical-align: baseline;
  }

  .navbar-light .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

@media screen and (max-width: 376px) {
  .link-click {
    right: 6px;
    top: 70px;
    width: 40px;
  }

  .link-click .wrap .head {
    font-size: 10px;
  }

  .link-click .wrap img {
    width: 25px;
    height: 25px;
  }

  .course-index .link .btn-all {
    font-size: 4px !important;
  }

  .navbar-brand.navbar-brand .logo {
    width: 170px;
    height: auto;
    vertical-align: baseline;
  }

  .navbar-light .navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .link-click .wrap .head p {
    margin-bottom: -7px;
    margin-top: -7px;
    padding: 9px;
    color: #fff;
  }
}

.text-second {
  color: #71bd1f;
}

.text-main {
  color: #e57722;
}

.head-since {
  color: #673826;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.consultant .text-main {
  margin-bottom: 30px;
}

.title-sec .text-line-vertical h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2.5px solid #945834;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.title-sec .text-line-vertical span {
  background: #fff;
  padding: 0 20px;
  color: #673826;
}

.row .footer-title-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #8b5637;
}

.row .footer-detail-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 0px;
  text-align: center;
  color: #333333;
}

.row .head-since1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 70px;
  color: #673826;
}

.row .head-since {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #673826;
}

.row .text1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #e57720;
}

.row .text2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #945834;
}

.line-promotion {
  width: 3px;
  height: 80px;
  margin: auto;
  background: linear-gradient(180deg, #945834 0%, rgba(153, 118, 44, 0) 100%);
  border-radius: 10px;
}

.course-index .wrap {
  display: flex;
}

.course-index .img-course {
  width: 50%;
}

.course-index .link {
  position: relative;
  width: 50%;
}

.course-index .link .btn-all {
  margin-bottom: 1rem;
}

.row .footer-center {
  text-align: center;
  height: 125px;
}

.footer-center img {
  height: 145px;
  width: 145px;
}

.footer .row .wrap {
  /* display: flex; */
  padding-top: 50px;
  align-items: center;
}

.link .btn-all {
  background: #ffffff;
  border: 1px solid #ca965c;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  color: #99762c !important;
  padding: 5px 10px;
  text-decoration: none;
  box-shadow: 1px 2px;
}

.link .btn-all:hover {
  background: #945834;
  border: 1px solid #945834;
  color: white !important;
  box-shadow: 1px 2px #ca965c;
  transition: 0.5s;
}

.navbar-brand .logo {
  width: 350px;
  height: auto;
  vertical-align: baseline;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #945834 !important;
}

.backspace {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 60px;
}

.backspace i {
  color: #673826;
  border-bottom: 4px solid #945834;
}

.course-detail {
  margin-top: -5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.w3-bar {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: -5em;
  column-gap: 5px;
}

.w3-bar-item {
  border: 2px solid rgba(148, 88, 52, 1);
  width: 100px;
  background-color: white;
  border-radius: 10px 10px;
}

.w3-bar-item:hover {
  background-color: rgba(148, 88, 52, 1);
}

.activity {
  position: relative;
  overflow: hidden;
}

.activity .btn-prima {
  z-index: 2;
  position: absolute;
  top: 63%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: #a61e2c;
  border: none;
  color: #fff !important;
  font-size: 20px;
  border-radius: 20px;
  padding: 8px 0;
}

.activity .wrap {
  position: relative;
}

/* .activity .wrap img {
    height: 100vh;
} */

.activity .wrap .text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-187%, -41%);
  width: 250px;
  color: #196eb4 !important;
}

.activity .wrap .text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -41%);
  width: 250px;
  color: #b17c35 !important;
}

.menu-atcv {
  padding: 6rem 3rem 3rem 3rem;
}

.menu-atcv .wrap-gap {
  margin: 0;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 4px 16px 0px rgba(123, 123, 123, 0.25);
  backdrop-filter: blur(2px);
  padding: 1rem 2rem 2rem 2rem;
  height: 100%;
}

.menu-atcv .head p {
  color: #0d66b0;
  font-size: 30px;
}

.menu-atcv .card {
  border: none !important;
}

.menu-atcv .img {
  margin-right: 6px;
}

.menu-atcv img {
  height: 700px;
}

.menu-atcv .splide__arrows {
  display: none;
}

.rules {
  background-image: url(images/newimg/bg-1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}

.lucky {
  padding-top: 4rem;
}

.rules .wrap {
  margin: 4rem;
}

.promotion {
  padding-top: 4rem;
}

.rules .nav-tabs .nav-link {
  color: #b17c35 !important;
  border-radius: 20px 20px 0px 0px;
  border-top: 1px solid #d4d4d4;

  border-right: 1px solid #d4d4d4;

  border-left: 1px solid #d4d4d4;

  background: #fff;
  font-size: 20px;
}

.rules .tab-content {
  border-radius: 0px 20px 20px 20px;
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 16px 0px rgba(123, 123, 123, 0.25);
  backdrop-filter: blur(2px);
  padding: 1rem 2rem 2rem 2rem;
}

.rules .nav-tabs {
  width: 80%;
}

.rules .title {
  color: #b17c35;
  font-size: 30px;
  margin: 1rem 0 10px;
}

.rules .detail {
  color: #b17c35;
}

.reward {
  padding: 7rem 3rem 3rem 3rem;
}

.reward .wrap-gap {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(123, 123, 123, 0.25);
  backdrop-filter: blur(2px);
  height: 100%;
}

.announce {
  background-image: url(images/newimg/anbg.png);
  padding: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.announce .wrap {
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  background: #ffffffe0;
  box-shadow: 0px 4px 16px 0px rgba(123, 123, 123, 0.25);
  backdrop-filter: blur(2px);
  padding: 1rem 2rem 2rem 2rem;
  height: 100%;
}

.announce .head {
  color: #fff;
  text-align: center;
  font-size: 56px;
  margin: 48px 0 16px 0;
}

.announce .content {
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  height: 560px;
}

.reward .head {
  text-align: center;
  color: #a61e2c;
  padding: 20px;
  font-size: 30px;
}

.footer .wrap {
  display: flex;
  height: 100%;
  /* height: 300px; */
}

.footer .wrap .box1 {
  width: 12%;
  background-color: #0d66b0;
}

.footer .wrap .box1 .group {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  align-items: center;
}

.footer .wrap .box1 .group {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  align-items: center;
  color: #fff;
}

.footer .wrap .box1 .group p:first-child {
  font-size: 65px;
  margin: 0;
  line-height: 1;
}

.footer .wrap .box1 .group p:nth-child(2) {
  font-size: 22px;
  margin: 0;
  line-height: 1;
}

.footer .wrap .box1 .group p:nth-child(3) {
  font-size: 32px;
  margin: 8px 0 12px 0;
  line-height: 1;
}

.footer .wrap .box2 {
  width: 60%;
  background-color: green;
}

.footer .wrap .box2 img {
  width: 100%;
  height: 100%;
}

.footer .wrap .box3 {
  width: 28%;
}

.footer .wrap .box3 .group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2rem;
  align-items: center;
}

.footer .wrap .box3 .group .btn-primary {
  width: 48%;
  height: 41px;
  border-radius: 100px;
  background: #0d66b0;
}

/* .banner img {
    height: 100vh;
} */

.banner .img img {
  height: 100vh;
}

section.slide-option {
  margin: 0 0 50px 0;
}

/*  */

.loopy {
  position: absolute;
  top: -12%;
  right: 40%;
}

.loopy .wrap {
  overflow: hidden;
  transform: rotate(13deg);
}

.loopy .wrap img {
  height: 480px;
}

.loopy .box {
  width: 260px;
  height: auto;
  background: #fff0;
  animation: looping 90s linear 0s infinite none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@keyframes looping {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100%);
  }
}

.loopy2 {
  position: absolute;
  top: -100%;
  right: 8%;
}

.loopy2 .wrap {
  overflow: hidden;
  transform: rotate(13deg);
}

.loopy2 .wrap img {
  height: 480px;
}

.loopy2 .box {
  width: 260px;
  height: auto;
  background: #fff0;
  animation: loopingg 90s linear 0s infinite none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.award {
  padding: 2rem 3rem;
  position: relative;

  .float {
    display: flex;
    justify-content: flex-end;

    .detail {
      display: flex;
      flex-direction: column;
      width: 78%;
      text-align: right;
      padding-top: 2rem;

      p:first-child {
        font-size: 66px;
        margin-bottom: 0;
        line-height: 1;
        color: #1e1d1d;
      }

      p:last-child {
        font-size: 22px;
        color: #1e1d1d;
        margin-bottom: 0;
      }
    }
  }

  .award-img {
    padding: 0rem 10rem;

    .row {
      align-items: flex-end;
    }

    img {
      padding: 2rem;
    }
  }

  .line {
    width: 16px;
    height: 339px;
    background-color: #950626;
    border-radius: 18px;
    position: absolute;
    top: 5%;
    left: 7%;
  }
}

.banner-two {
  padding: 2rem 3rem;

  .title {
    text-align: center;

    p {
      font-size: 40px;
    }
  }
}

.banner-two-sec-two {
  padding: 2rem 3rem;
  padding-top: 0;

  .title {
    text-align: center;

    p {
      font-size: 40px;
    }
  }
}

.market-cp {
  padding: 2rem 3rem;

  .head {
    font-size: 50px;
  }

  .content {
    padding: 0;

    .list {
      .name {
        color: #1e1d1d;
        margin-bottom: 4px;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }

  .seemore {
    padding: 12px 36px;
    border: 1px solid #000000;
    display: inline-block;
  }
}

.all-img-food {
  padding: 2rem 3rem;
}

.footer-main {
  padding: 3rem 5rem;
  color: #fff;
  background-image: radial-gradient(circle, #3d6ad8, #3763d4, #315ccf, #2c54cb, #264dc6);
}

.marker {
  width: 100%;
  height: 100vh;
  background-color: #ae1f37;
  padding: 4rem;
  padding-top: 1px;
}

@keyframes loopingg {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(100%);
  }
}

.table-sizing {
  max-height: 85vh;
  height: 50%;
}

.con-num ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
}

.con-num ol ol {
  list-style-type: none;
  counter-reset: subitem;
  padding-left: 0;
}

.con-num li {
  counter-increment: item;
}

.con-num li:before {
  content: counters(item, ".") ". ";
}

.con-num li ol li {
  counter-increment: subitem;
  margin-left: 1rem;
}

.con-num li ol li:before {
  content: counter(item) "."counter(subitem) ". ";
}

.sub-dot {
  margin-left: 1rem;
}

.contest-content-head {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contest-content-head .title {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
}

.contest-content-head .description {
  margin-left: 20px;
}

.contest-content-right img {
  width: 100%;
}

.contest-line {
  border: 2px solid #af1616;
  width: 70%;
  border-radius: 50px;
  height: 2%;
  background: #af1616;
}

.Awards-title span {
  text-decoration: underline;
}

.Awards-panel p {
  margin: 0;
}

.Awards-info {
  margin-top: 10px;
}

/* .promotion .splide__slide img {
    height: 100vh;
} */

/* @media only screen and (min-width: 601px) {
    .banner .web {
        display: block !important;
    }

    .banner .mobile {
        display: none !important;
    }
} */

/* @media only screen and (max-width: 600px) {
    section {
        height: auto;
        scroll-snap-align: none;
        padding-top: 0;
    }

    .banner {
        padding-top: 60px;
    }

    .banner img {
        height: auto;
    }

    .banner .web {
        display: none !important;
    }

    .banner .mobile {
        display: block !important;
    }

    .activity .wrap img {
        height: auto;
    }
} */

@media screen and (max-width: 1024px) {
  .rules .nav-tabs {
    width: 100%;
  }

  .banner-toggle .card p {
    font-size: 28px !important;
  }

  .banner-toggle {
    .card {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {

  .footer-main {
    padding: 1rem 3rem;
  }

  .footer-main .logo img {
    width: 90%;
  }

  .footer-main .cer {
    margin-bottom: 18px !important;
    margin-top: 18px;
  }

  .market-cp .head {
    font-size: 30px;
  }

  .banner-toggle {
    height: 50vh !important;
  }

  .rules .nav-tabs {
    width: 100%;

    .nav-item {
      width: 100%;
    }

    .nav-link {
      font-size: 18px;
      width: 100%;
      border-radius: 20px 14px 0px 0px;
    }
  }

  .rules {
    height: 100%;
  }

  .rules .wrap {
    margin: 0rem 3rem;
  }

  .footer .wrap {
    .box1 {
      width: 20%;
    }

    .box2 {
      width: 40%;
    }

    .box3 {
      width: 40%;
    }
  }

  .award-img {
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer .wrap {
    flex-direction: column;
  }

  .footer .wrap .box1 {
    width: 100%;
  }

  .footer .wrap .box2 {
    width: 100%;
  }

  .footer .wrap .box3 {
    width: 100%;

    span {
      margin: 8px 0;
    }
  }

  .footer .wrap .box1 .group {
    padding: 12px;
  }

  .footer .wrap .box1 .group p:first-child {
    font-size: 52px;
  }

  .footer .wrap .box1 .group p:nth-child(2) {
    font-size: 18px;
  }

  .footer .wrap .box1 .group p:nth-child(3) {
    font-size: 26px;
  }

  .footer .wrap .box1 .group p:nth-child(3) {
    margin: 8px 0 0px 0;
  }

  .award .float {
    .detail {
      width: 92%;
    }

    p:first-child {
      font-size: 40px !important;
      margin-bottom: 10px !important;
    }

    p:last-child {
      font-size: 16px;
    }
  }

  .award .award-img {
    margin-top: 2rem;

    img {
      padding: 0rem;
    }
  }

  .award .line {
    width: 8px;
    height: 196px;
  }

  .market-cp .seemore {
    padding: 12px 36px;
    border: 1px solid #000000;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.input-group-append {
  cursor: pointer;
}

.navbar-toggler {
  background-color: #fff !important;
  border: 1px solid #845f5f !important;
}

.main-form {
  margin-top: -50px;
  min-height: 32vh;

  /*   .warp {
        padding: 0rem 6rem 6rem;
    } */
  .card {
    padding: 1rem 5rem;
    border-radius: 20px;
  }
}

.btn-primary {
  background-color: #244bc6 !important;
  padding: 6px 48px !important;
}

.list-meet .card {
  padding: 1rem 5rem;
  border-radius: 20px;

  .wrap-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6b6b6b;
    margin-bottom: 22px;
  }

  .btn-primary {
    background-color: #4370ff !important;
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
}

.search_advance {
  .card {
    padding: 6rem 12rem;
    margin-bottom: 2rem;
  }
}

.table-main {
  thead th:first-child {
    border-radius: 20px 0px 0px 0px;
  }

  thead th:last-child {
    border-radius: 0px 20px 0px 0px;
  }

  th {
    text-align: center !important;
  }

  td {
    text-align: center !important;
  }
}

.advance-content {
  .head {
    font-size: 22px;
    border-bottom: 2px solid #000;
    margin-bottom: 8px;
    padding-bottom: 10px;
  }

  .detail .result {
    margin-bottom: 24px;

    p {
      font-size: 20px;
      margin-bottom: 4px;
    }

    .note {
      color: #d83b23;
      font-size: 16px;
    }
  }
}

.card-resault {
  padding: 26px 38px;
  margin-bottom: 24px;

  .title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .find {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrap-date {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #767676;
      column-gap: 14px;

      p {
        margin: 0;
      }
    }

    .wrap-btn .btn {
      padding-left: 18px !important;
      padding-right: 18px !important;
      border-radius: 8px;
      margin: 0 10px;
    }
  }
}

.banner-toggle {
  background-image: url(../assets/images/newimg/banner-toggle.png);
  background-size: 100% 100%;
  height: 60vh;

  .warp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000070;
    height: 100%;
  }

  .card {
    margin: auto;
    height: 300px;
    width: 1200px;
    background-color: #3330;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    p {
      font-size: 40px;
    }

    .warp-toggle {
      margin-top: 20px;
    }

    .warp-toggle .active {
      background-color: #1133b8 !important;
      color: #fff !important;
      border: none !important;
    }

    a {
      padding: 14px 38px;
      margin: 0 18px;
      font-size: 18px;
    }
  }
}

.btn-light {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-light:hover,
.btn-light:active {
  background-color: #1133b8 !important;
  color: #fff !important;
  border: none !important;
}

.related_documents .body-content {
  .text-center p:first-child {
    font-size: 26px;
  }

  .text-center p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .text-center p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 0;
  }

  .ul {
    margin-top: 2rem;
  }
}

.form-meet .head {
  display: flex;
  justify-content: end;
  align-items: center;
}

.form-meet .card {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
}

.form-meet .card .col-lg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-meet .ckeck-group {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 60px;

  .form-check {
    margin-top: 16px;
  }
}

.form-meet .text-center {
  padding: 3rem 0;
}

.form-meet .form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-meet .gj-icon {
  position: absolute;
  right: 6px !important;
  top: 7px !important;
  font-size: 24px;
}

.status-main .step {

  .text {
    text-align: center;
  }

  .fa-solid {
    background: #244BC6;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .row {
    justify-content: center;
  }

  .bar {
    width: 100%;
    height: 2px;
    background: #244BC6;
    margin-bottom: 26px;
  }

  .bar-red {
    width: 100%;
    height: 2px;
    background: red;
    margin-bottom: 26px;
  }

  .bar-row {
    display: flex;
    align-items: center;
  }

  .fa-circle-dot {
    background-color: #ffffff !important;
    color: #244BC6 !important;
  }

  .fa-xmark {
    background-color: red !important;
    color: #fff !important;
    padding: 10px 14px !important;
  }

}

.status-main .card {
  padding: 1rem 2rem;
  border-radius: 18px;
  margin-bottom: 3rem;
}

.status-main .title {
  color: #244BC6;
  margin-bottom: 28px;
}

.status-main {
  .btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}

.register {
  background-image: url(images/newimg/bg-login.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem 0;

  .wrap {
    background-color: #fff;
    border-radius: 16px;
    padding: 2rem;
  }

  .form-label {
    color: #999999;
  }

  .form-select {
    color: #4F4F4F !important;
  }

  input::placeholder {
    color: #4F4F4F !important;
  }
}

.navbar-toggler i {
  line-height: 1;
  font-size: 28px;
  margin-top: 2px;
}

.footer-bottom {
  background-color: #1534A2;
  padding: 2rem 10rem;
  color: #fff;
}